root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# we diverge from the yml 2 spaces convention of php-http in favor of the symfony code style.
